.nav {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;

  ul {
    display: flex;
    flex-direction: column;
  }
  li {
    margin-top: 15px;
  }
  a {
    text-transform: uppercase;
    transition: color .3s;
    &:hover {
      color: $color-accent-blue;
    }
  }
  .collections-nav {
    margin-left: 10px;
    li {
      margin-top: 10px;
    }
    a {
      color: $color-text-tertiary;
      font-size: $font-body-sm;
      text-transform: capitalize;
      &:hover {
        color: $color-accent-blue;
      }
    }
  }
}