.sidebar {
  background: #ececec;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
  width: 260px;

  h1 {
    line-height: 1.2;
    color: $color-text-primary;
    font-size: $font-header-md;
  }

  &__social-icons {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;

    .icon-wrapper {
      margin: 0 10px;
      height: 36px;
      width: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-color: $color-accent-blue-light;
      transition: color .3s, background-color .3s, transform .3s;
      cursor: pointer;
      svg {
        height: 20px;
        width: 20px;
        stroke: #EEEEEF;
      }
      &:hover {
        box-shadow: 0 3px 15px 0 rgba(0,0,0,.2);
        background-color: $color-accent-blue;
        transform: scale(1.05);
      }
    }
    a {
      margin: 0 10px;
    }
    &:before {
      content: '';
      display: block;
      background: darken(#E1E1E1, 30%);
      height: 1px;
      width: 100%;
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
    }
  }

  &__legal {
    color: $color-text-tertiary;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }

  @include whenSmall {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .6s;
    right: 0;
    width: 100%;
    &__social-icons:before {
      width: 70%;
      margin: 0 auto;
    }
  }
}

#mobile-toggle {
  position: fixed;
  left: -10000px;
  display: none;
  
  &:checked ~ .sidebar {
    visibility: visible;
    opacity: 1;
  }
  @include whenSmall {
    display: block;
  }

}
#mobile-toggle-label {
  background-color: $color-accent-blue;
  border-radius: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  height: 46px;
  width: 46px;
  text-align: left;
  position: fixed;
  z-index: 1000;
  right: 20px;
  top: 20px;
  cursor: pointer;

  span {
    margin-left: 13px;
    width: 20px;
    height: 1px;
    background: white;
    display: block;
    &:nth-of-type(1) {
      margin-bottom: 5px;
    }
    &:nth-of-type(2) {
      margin-bottom: 5px;
      width: 16px;
    }
    &:nth-of-type(3) {

    }
  }
  @include whenSmall {
    display: flex;
  }
  
}