.vc-text {
}
.wrapper-sm {
  max-width: 560px;
}

.hr-bt:after {
  content: '';
  display: block;
  background: $color-accent-blue;
  height: 6px;
  width: 48px;
  margin-top: 7px;
}

.heading {
  font-size: $font-header-sm;
  line-height: 1.2;
  max-width: 560px;
  margin-bottom: 20px;
}