$color-text-primary: #3B3C3D;
$color-text-secondary: #4F4F50;
$color-text-tertiary: #6b6b6b;

$color-accent-blue: #057788;
$color-accent-blue-light: #93A9B0;

$font-header-lg: 48px;
$font-header-md: 40px;
$font-header-sm: 33px;

$font-body-md: 19px;
$font-body-sm: 16px;

$font-family-header: 'Kanit', sans-serif;
$font-family-body: 'Open Sans', sans-serif;