.about {
  background-image:
  linear-gradient(rgba(255,255,255, .80), rgba(255,255,255, .80)), url('../images/books.jpeg');
  background-size: cover;
  background-position: center;
  padding-left: 340px;
  @include whenSmall {
    padding-left: 20px;
    background-position: center right;
  }
}