.about {
  background-image:
  linear-gradient(rgba(255,255,255, .80), rgba(255,255,255, .80)), url('https://images.unsplash.com/photo-1442291928580-fb5d0856a8f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
  background-size: cover;
  background-position: center;
  padding-left: 340px;
  @include whenSmall {
    padding-left: 20px;
  }
}