.home {
  background-image:
  linear-gradient(rgba(255,255,255, .93), rgba(255,255,255, .93)), url('../images/typewriter.jpeg');
  background-size: cover;
  background-position: center;
  padding-left: 340px;

  p {
    color: $color-text-secondary;
  }
  @include whenSmall {
    padding-left: 20px;
  }
}