.home {
  background-image:
  linear-gradient(rgba(255,255,255, .95), rgba(255,255,255, .95)), url('https://images.unsplash.com/photo-1526137737929-8384868825b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6f9a35a1743c380822501dd08e1e5e9c&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  padding-left: 340px;

  h2 {
    font-size: $font-header-sm;
    line-height: 1.2;
    max-width: 400px;
    margin-bottom: 20px;
  }
  p {
    color: $color-text-secondary;
  }
}