.page {
  padding: 40px 20px 80px 280px;
  a {
    color: $color-accent-blue;
    transition: color.3s;
    &:hover {
      color: darken($color-accent-blue, 10%);
    }
  }
  &--vert-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  @include whenSmall {
    padding: 40px 20px 80px 20px;
  }
}
