.poem {
  &__inner {
    max-width: 720px;
    margin: 0 auto;
  }
  header {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
    h1 {
      font-size: $font-header-md;
      margin-top: 30px;
    }
    img {
      width: 100%;
    }
    iframe {
      width: 100%;
      min-height: 480px;
    }
  }
  &__date {
    color: $color-text-tertiary;
    color: $color-accent-blue;
  }
  article {
    max-width: 560px;
    p {
      margin-bottom: 18px;
    }
  }
  @include whenSmall {
    header iframe {
      min-height: 300px;
    }
  }
}